<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}

   %>

	<div class="col-md-6 col-lg-4">
		<div class="thumbnail pizza-card">
			<img class="pizza-pic" src="<%= pizza.icon %>" />
			
			<% if(pizza.is_new) { %>
				<div class="btn label-danger new-label">Нова</div>
				<% } else if(pizza.is_popular) {%>
					<div class="btn label-success popular-label">Популярна
					</div>
					<% } %>
						<div class="caption">
							<h3><%= pizza.title %></h3>
							<h6><%= pizza.type %></h6>
							<p><%= getIngredientsArray(pizza).join(", ") %></p>
							<div class="row ">
								<% if(pizza.small_size){ %>
								<div class="<% if(pizza.big_size){ %>col-sm-6 <% } %> sm-pizza">
									<div>
										<img src="assets/images/size-icon.svg" />
										<span class="size"><%= pizza.small_size.size %></span>
									</div>
									<div>
										<img src="assets/images/weight.svg" />
										<span class="weight"><%= pizza.small_size.weight %></span>
									</div>
									<div>
										<h2 class="price"><%= pizza.small_size.price %></h2>
										<span>грн.</span>
									</div>
									<a href="#" class="btn btn-warning buy-sm-button">Купити</a>
								</div>
								<% } 
								if (pizza.big_size){ %>
								<div class="<% if(pizza.small_size){ %>col-sm-6 <% } %> lg-pizza">
									<div>
										<img src="assets/images/size-icon.svg" />
										<span class="size"><%= pizza.big_size.size %></span>
									</div>
									<div>
										<img src="assets/images/weight.svg" />
										<span class="weight"><%= pizza.big_size.weight %></span>
									</div>
									<div>
										<h2 class="price"><%= pizza.big_size.price %></h2>
										<span>грн.</span>
									</div>
									<a href="#" class="btn btn-warning buy-lg-button">Купити</a>
								</div>
								<% } %>
							</div>
						</div>
		</div>
	</div>
